
.avatar{
  display: block;
  margin: 100px auto 20px auto;
  width: 100px;
  height: 100px;
  box-shadow: 1px 1px 30px rgba(0,0,0,0.7);
  border-radius: 50%;
}
.signIn{
  input{
    width: 60%;
    height: 37px;
    border: 4px solid chocolate;
    font-size: 20px;
    border-radius: 10px;
    color: orangered;
    background: navajowhite;
    box-shadow: 0 0 20px #cf9800 inset;
  }
  label{
    font-weight: bold;
    font-size: 19px;
    display: inline-block;
    width: 79px;
    border-radius: 40px;
    height: 50px;
    text-align: center;
    margin-right: 11px;
    background: coral;
    color: sienna;
  }
  button{
    width: 70%;
    display: inline-block;
    margin-left: 60px;
    color: #ffffff;
    background-color: orangered;
    border-radius: 15px;
    border: 0;
    font-size: 20px;
    font-weight: 500;
  }
}